<!DOCTYPE>
<html>
  <head>
    <title>Jovian Carrers</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
  </head>
    <style>
      #banner {
        height: 500px;
        width: 100%;
        object-fit:cover;
        margin-bottom: 16px;
      }

    </style>
  </head>
  <body>
    <div style="font-Roboto">
      <h1 style='text-align:center; margin-bottom:25px; margin-top:25px;'>Jovian Carrers</h1>
      <img id='banner' width=100% height=400px object-fit: cover src= "https://web-development.bhaumiktripathi.repl.co/static/banner.jpg" >
      <div id ='main' class="container" >
        <h2>About</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Non arcu risus quis varius. Viverra mauris in aliquam sem. Est lorem ipsum dolor sit amet. Porta nibh venenatis cras sed felis eget velit aliquet sagittis. Sit amet justo donec enim diam. Accumsan lacus vel facilisis volutpat est velit. Urna cursus eget nunc scelerisque. Tincidunt arcu non sodales neque sodales ut. Morbi enim nunc faucibus a pellentesque. Amet venenatis urna cursus eget nunc scelerisque.</p>
        <h2 style= "margin-bottom:25px; text-align:center;">Open positions</h2>
        <div>
            {% for job in jobs %}
              {% include 'positions.html' %}
            {% endfor %}
        </div>
      </div>
      <button>contact us</button>
    </div>
  </body>
</html>