<!DOCTYPE>
<html>
  <head>
    <title>Jovian Carrers</title>
    <link rel="icon" href="https://web-development-1.bhaumiktripathi.repl.co/static/logo.png" type="image/icon type">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
    
    <style>
      #banner {
        height: 500px;
        width: 100%;
        object-fit:cover;
        margin-bottom: 16px;
      }
    </style>
  </head>
  <body>
    {% include 'navbar.html' %}
    <div style="font-Roboto">
      <h1 style='text-align:center; margin-bottom:25px; margin-top:25px;'>Jovian Carrers</h1>
      <img id='banner' width=100% height=400px object-fit: cover src= "https://web-development.bhaumiktripathi.repl.co/static/banner.jpg" >
      <div id ='main' class="container" >
        <h2>About</h2>
        <div class='row' style='margin-bottom:30px;'>
          <div class='col-md-6'>
            <p class='lead'>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Non arcu risus quis varius. Viverra mauris in aliquam sem. Est lorem ipsum dolor sit amet. Porta nibh venenatis cras sed felis eget velit aliquet sagittis. Sit amet justo donec enim diam. Accumsan lacus vel facilisis volutpat est velit. Urna cursus eget nunc scelerisque. Tincidunt arcu non sodales neque sodales ut. Morbi enim nunc faucibus a pellentesque. Amet venenatis urna cursus eget nunc scelerisque.</p>
          </div>
          <div class="d-none d-md-block col-md-6">
            <img src='/static/peopleworking.jpg' style="height:320px;border-radius:4px;">
          </div>
        </div>
        <h2 style= "margin-bottom:25px; text-align:center;">Open positions</h2>
        <div>
            {% for job in jobs %}
              {% include 'positions.html' %}
            {% endfor %}
        </div>
      </div>
    </div>
    <div class="text-center" style='padding-top: 25px;'>
      <a class="btn btn-primary btn-lg" href="mailto:abc@gmail.com?subject=Contact%20us&body=We%20would%20love%20to%20get%20any%20suggestions%20or%20feedback%20from%20our%20precious%20customers.%20For%20queries%20type%20your%20question%20below%3A-">Contact Us</a>
    </div>
      {% include 'footer.html' %}
  </body>
</html>
